#clock {
  text-align: center;
  vertical-align:text-bottom;
  font-size: 100;
  font-family:"verdana"; 
  
}

#greeting {
  text-align: center;
  fon
}

#background {
  background-image: url("http://cdn.paper4pc.com/images/dandelions-closeup-wallpaper-1.jpg");
  background-size:cover; 
}