#clock {
  text-align: center;
  vertical-align:text-bottom;
  font-size: 100;
  font-family:"verdana"; 
  color: white;
  
}

#greeting {
  text-align: center;
  font-family: "verdana";
  font-size: 20;
  height: 50px;
}

#title {
  background-color: aliceblue;
  opacity: 0.6;
  font-family: "verdana";
  font-size: 25;
  color: black;
  text-align: center;
  position: center;
  border-bottom: 3px solid dimgray;
}

/*
.tasks {
  display: inline;
  text-align: center;
  column-count: 2;
  
}
*/

#todo1 {
  background-color: aliceblue;
  opacity: 0.6;
  font-family: "verdana";
  font-size: 15;
  color: black;
  float: left;
  text-align: center;
}

#todo2 {
  background-color: aliceblue;
  opacity: 0.6;
  font-family: "verdana";
  font-size: 15;
  color: black;
  text-align: center;
  position: center;
  float:right
}


#background {
  background-image: url("http://cdn.paper4pc.com/images/dandelions-closeup-wallpaper-1.jpg");
  background-size:cover; 
}